#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #121212; /* Close to black */
}

.card {
  padding: 2em;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  aspect-ratio: 1 / 1; /* Square aspect ratio by default */
}

@media (min-width: 1024px) {
  .card {
    aspect-ratio: 16 / 9; /* Horizontal rectangle for large screens */
  }
}